@import './colors.css';

.btnNav {
    background-color: var(--black-bg);
    border: 5px solid var(--yellow-main);
    color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition: 0.3s;
    margin: 6px 0;
    position: relative;
}

.btnNav__icon {
    transition: transform 0.7s;
}

.btnNav__txt-cont {
    position: absolute;
    top: 16%;
    left: 20px;
    min-width: 350px;
    width: auto;
    padding: 0 15px 0 5vw;
    background-color: var(--black-bg);
    border: 4px solid var(--yellow-main);
    border-radius: 25px;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: -10;
    transition: 0.4s;
}

.btnNav__txt-cont p {
    font-size: 30px;
    padding: 5px;
}

.btnNav:hover .btnNav__icon {
    transform: scale(1.4);
}

.btnNav:hover .btnNav__txt-cont {
    transform: scale(1.1);
    background-color: var(--yellow-main);
    color: var(--black-bg);
    font-weight: bold;
}

@media screen and (max-width: 1300px) {
    .btnNav {
        border: 3px solid var(--yellow-main);
        color: white;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        transition: 0.3s;
        margin: 3px 0;
        position: relative;
    }

    .btnNav__txt-cont {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    .btnNav {
        border: 3px solid var(--yellow-main);
        color: white;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        transition: 0.3s;
        margin: 3px 0;
    }

    .btnNav__icon {
        height: 35px;
        width: 35px;
    }
}