:root {
    --black-bg: rgb(17, 17, 17);
    --blue-dark: rgb(1, 3, 17);
    --pink-main: rgb(227, 67, 168);
    --yellow-hover: rgb(212, 253, 78);
}

/*
black-bg-main rgb(17, 17, 17)
azul-black rgb(1, 3, 17)
rosa-main rgb(227, 67, 168)
*/