:root {
    --black-bg: #151515;
    --blue-dark: #02263a;
    --purple-main: #301B3F;
    --green-main: #16FF00;
    --yellow-main: #FFED00;
    --pink-main: #F56EB3;
    --grey-a: #3C415C;
    --light-a: #B4A5A5;
}

/*
black-bg-main rgb(17, 17, 17)
azul-black rgb(1, 3, 17)
rosa-main rgb(227, 67, 168)
*/