.footer {
    color: white;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    border-top: 4px solid var(--yellow-main);
    box-shadow: 15px 15px 60px rgba(77, 77, 77, 0.5);
}

.footer__section-cont {
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*CONTACT*/
.footer__section-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__title-contact {
    font-size: 40px !important;
}

.footer__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__title-cont h3 {
    font-size: 20px;
    color: var(--yellow-main);
    letter-spacing: 2px;
}

.footer__icon-cont {
    width: 100%;
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__sec-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.footer__section-cont .left0:before {
    position: absolute;
    left: 33%;
    content: '';
    width: 2px;
    height: 80px;
    background-color: var(--yellow-main);
    border-radius: 5px 5px 5px 5px;
}

.footer__section-cont .left:before {
    position: absolute;
    right: 33%;
    content: '';
    width: 2px;
    height: 80px;
    background-color: var(--yellow-main);
    border-radius: 5px 5px 5px 5px;
}

.footer__icon-cont * {
    margin: 10px 20px;
}

.footer__info {
    width: 100%;
    color: var(--yellow-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__info p {
    padding: 3px 20px;
    background-color: var(--black-bg);
    border-radius: 10px 10px 0 0;
}

.return-cont {
    position: absolute;
    right: 40px;
    top: -10px;
}

.return-icon {
    color: var(--yellow-main);
}

@media screen and (max-width: 1300px) {

    .footer__section-cont .left0:before,
    .footer__section-cont .left:before {
        background-color: rgba(0, 0, 0, 0);
    }
}

@media screen and (max-width: 767px) {
    .return-cont {
        display: none;
    }

    .footer__section-cont {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .footer__section-cont>div:nth-child(1) {
        display: none;
    }

    .footer__title-contact {
        font-size: 28px !important;
    }

    .footer__title-cont h3 {
        font-size: 14px;
        color: var(--yellow-main);
        letter-spacing: 2px;
    }

    .footer__icon-cont * {
        margin: 5px 16px;
        height: 35px;
    }

    .footer__info p {
        font-size: 10px;
        padding: 3px 15px;
    }

}