.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-size: 100vw;
    background-image: url('../assets/img/header-img.jpg');
    background-repeat: no-repeat;

}

.header-data-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .name {
    color: rgb(10, 10, 10);
    font-size: 60px;
    text-shadow: -1px -1px 1px rgb(251, 251, 251), 1px 1px 1px rgb(251, 251, 251);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.header .front-end {
    font-family: 'Permanent Marker', cursive;
    text-shadow: -2px -2px 1px rgb(227, 67, 168), 1px 1px 1px rgb(251, 251, 251);
    color: rgb(1, 3, 17);
    font-size: 50px;
    position: absolute;
    bottom: -42px;
}