@import './colors.css';

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    /*background-color: var(--black-bg);*/
    background-image: url(../assets/img/header-img.jpg);
    background-size: cover;
    background-position: center;
    /*border-bottom: 3px solid var(--pink-main);*/
}

.header-data-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header .name {
    color: rgb(10, 10, 10);
    font-size: 60px;
    text-shadow: -1px -1px 1px white, 1px 1px 1px white;
}

.header .front-end {
    font-family: 'Permanent Marker', cursive;
    text-shadow: -2px -2px 1px var(--pink-main), 1px 1px 1px white;
    color: var(--blue-dark);
    font-size: 50px;
    position: absolute;
    bottom: -42px;
}

/*
black-bg-main rgb(17, 17, 17)
azul-black rgb(1, 3, 17)
rosa-main rgb(227, 67, 168)
*/