@import './colors.css';

.proy-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    /*grid-auto-flow: row;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . .";*/
}

.proy-card {
    background-color: var(--black-bg);
    width: 290px;
    height: 310px;
    /*border: 1px solid rgb(79, 79, 79);*/
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.proy-card img {
    width: 100%;
    border-radius: 10px 10px 0% 50%;
}

/*ICONOS*/
.proy-card__icons-tec {
    color: var(--pink-main);
    width: auto;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--black-bg);
    border-radius: 0px 10px 0px 10px;
}

.proy-card__icons-tec .icon {
    padding: 2px 3px;
    text-shadow: -3px 3px 3px rgb(192, 250, 0);
}

/*Info*/
.proy-card__info {
    padding: 0 10px 10px 10px;
}

.proy-card__info--nombre {
    color: var(--yellow-hover);
}

.proy-card__info p {
    color: white;
    font-size: 11px;
}

/*BTN*/
.proy-card__btn {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 5px;
}

.proy-card__btn button {
    width: auto;
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 3px 3px 3px 10px;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s;
}

.proy-card__btn button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.proy-card__btn button p {
    margin-right: 5px;
}