@import './colors.css';

.proy-container {
    display: flex;
    flex-direction: column;
    color: rgb(219, 219, 219);
}

.paralax {
    background: url('../assets/img/header-imgb.jpg') fixed no-repeat;
    background-size: cover;
}

.proy__title-cont {
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 500px;
    background-color: var(--black-bg);
    border-radius: 0 0 15px 0;
    padding: 10px 10px 10px 115px;
}

.proy__title-icon {
    margin-right: 15px;
    color: var(--yellow-main);
}

.proy-container-cards {
    padding: 20px 10vw 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.proy-card {
    width: 310px;
    max-width: 310px;
    height: 350px;
    max-height: 350px;
    /*border: 1px solid rgb(79, 79, 79);*/
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 12px;
    background-color: hsla(0, 0%, 8%, 0.75);
    box-shadow: 3px 3px 10px rgba(85, 85, 85, 0.25);
}

.proy-card img {
    min-height: 200px;
}

.proy-card img {
    width: 100%;
    border-radius: 10px 10px 0% 50%;
}

/*ICONOS*/
.proy-card__icons-tec {
    color: var(--green-main);
    width: auto;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--black-bg);
    border-radius: 0px 10px 0px 10px;
}

.proy-card__icons-tec .icon {
    padding: 2px 3px;
    text-shadow: -3px 3px 3px rgb(192, 250, 0);
}

/*Info*/
.proy-card__info {
    padding: 0 10px 10px 10px;
}

.proy-card__info--nombre {
    color: var(--yellow-main);
}

.proy-card__info p {
    color: white;
    font-size: 11px;
}

/*BTN*/
.proy-card__btn {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 5px;
}

.proy-card__btn button {
    width: auto;
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 3px 3px 3px 10px;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s;
}

.proy-card__btn button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.proy-card__btn button p {
    margin-right: 5px;
}


@media screen and (max-width: 767px) {
    .proy-container {
        min-height: 54vh;
        justify-content: space-between;
    }

    .proy__title-cont {
        justify-content: start;
        align-items: center;
        max-width: 282px;
        background-color: var(--black-bg);
        border-radius: 0 0 12px 0;
        padding: 5px 5px 8px 20px;
    }

    /*CARDS*/
    .proy-container-cards {
        width: 100vw;
        max-width: 100vw;
        margin: 10px 0px;
        padding: 5px;
        flex-wrap: nowrap;
        flex-direction: row;
        overflow-x: auto;

    }

    .proy-container-cards::-webkit-scrollbar {
        width: 0;
    }

    .proy-card {
        min-width: 250px;
        min-height: 330px;
        margin: 6px;
    }

    .proy-card__info--nombre {
        margin-top: 14px;
        font-size: 30px;
    }

    .proy-card__info p {
        display: none;
    }

    /*Corrige inicio  de primer elemento en slider de proyectos*/
    .proy-container-cards>div:first-child {
        margin-left: 2100px;
    }

    /*Corrige final de ultimo elemento en slider de proyectos*/
    .proy-container-cards>div:last-child {
        margin-right: 25px;
    }

    /*BTN*/
    .proy-card__btn {
        flex-direction: column;
        align-items: center;
    }

    .proy-card__btn button {
        font-size: 14px;
        background-color: black;
        color: white;
        padding: 3px 5px 3px 15px;
        border-radius: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: 0.2s;
    }
}