@import './colors.css';

.nav-bar {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    position: absolute;
    left: 10px;
    top: 15vh;
    height: 75vh;
}

.nav-bar::after {
    content: "";
    background-color: var(--yellow-main);
    height: 55vh;
    width: 6px;
    position: absolute;
    z-index: -1;
}

@media screen and (max-width: 1300px) {
    .nav-bar {
        margin: 0;
        align-items: end;
        position: fixed;
        top: 9vh;
        height: 76vh;
    }

    .nav-bar::after {
        right: 41px;
        width: 4px;
        right: 30px;
    }

}

@media screen and (max-width: 1300px) {
    .nav-bar {
        margin: 0;
        width: 10vw;
        align-items: end;
        position: fixed;
        left: 89vw;
        top: 26vh;
        height: 50vh;
    }

    .nav-bar::after {
        height: 45vh;
        width: 3px;
        right: 25px;
    }

}