@import './colors.css';

.nav-bar {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    position: absolute;
    left: 10px;
    top: 20vh;
    height: 65vh;
}

.nav-bar::after {
    content: "";
    background-color: var(--yellow-main);
    height: 50vh;
    width: 6px;
    position: absolute;

    z-index: -1;
}