@import './colors.css';

.card {

    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
}

.card__title {
    text-align: left;
}

.card__data {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
}

.card__img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.card__description {
    font-size: 20px;
    padding: 20px;
}

.card__description ul {
    font-size: 18px;
    display: flex;
    flex-direction: column;

}

.card__description ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
}

.btn-list {
    border-radius: 25px;
    display: flex;
    padding: 3px 5px;
    transition: 0.2s;
    text-decoration: none;
}

.card__description ul :last-child {
    cursor: pointer;
}

.card__description ul :last-child:hover .btn-list {
    background-color: var(--black-bg);
    color: white;
}

.icon-spotify {
    color: green;
    margin-left: 5px;
}