@import './colors.css';

.tec__container {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.tec__title-cont {
    display: flex;
    justify-content: start;
    align-items: center;
}

.tec__title-icon {
    margin-right: 15px;
    color: var(--yellow-main);
}


.tecnologias__description {
    font-size: 20px;
    padding: 35px 40px;
}

@media screen and (max-width: 767px) {

    .tec__container {
        margin: 10px;
    }

    .tecnologias__description {
        font-size: 14px;
        padding: 15px 20px;
    }

}