.title {
    text-align: left;
    color: var(--yellow-hover);
    font-size: 35px;
}

@media screen and (max-width: 767px) {
    .title {
        text-align: left;
        color: var(--yellow-hover);
        font-size: 22px;
    }

}