* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  box-sizing: border-box;
  text-decoration: none !important;
}

.App {
  min-width: 360px;
  background-color: var(--black-bg);
  position: relative;
}